@font-face {
    font-family: 'EastSyriacAdiabeneRegular';
    src: url('EastSyriacAdiabeneRegular.woff2') format('woff2'),
        url('EastSyriacAdiabeneRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EastSyriacAdiabeneRegular';
    src: url('EastSyriacAdiabeneRegular.woff2') format('woff2'),
        url('EastSyriacAdiabeneRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EstrangeloEdessaRegular';
    src: url('EstrangeloEdessaRegular.woff2') format('woff2'),
        url('EstrangeloEdessaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estrangelo Nisibin';
    src: url('EstrangeloNisibin.woff2') format('woff2'),
        url('EstrangeloNisibin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Serto Jerusalem';
    src: url('SertoJerusalem.woff2') format('woff2'),
        url('SertoJerusalem.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

